
/*main content*/
.py-4
{
    width:85%;
    margin:0 auto;

    /*background-color: #fffafa;
    border-left: #00ff37 solid 5px;
    border-right: #00ff37 solid 5px;*/
    padding:15px;

}

body{
    background-color: rgb(255, 255, 255);
    /*background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    }

/*headings*/
h1{
    font-size: 50px;
    color:#ffffff;
    font-weight: bold;
    font-variant: small-caps;
}
h2{
    font-size: 60px;
    text-align: center;
    color:#000000;
    font-weight: bold;
}

h3{
    text-align: center;
    color:#000000;
    
}

/*tables*/

table{
    width: 100%;
    border: 3px solid #000000;
    
}

tr{
    color: rgb(0, 0, 0);
}

td{
    padding: 10px;
}

th a, th{
    font-size: 1.2em;
    color: #ffffff;
    background-color: #000;
    padding: 10px;
}

tr:nth-child(even) {background: rgb(214, 208, 208)}

.gpLink{
    color: rgb(0, 0, 0);
}

/* nav */
.navbar{
    /*background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    width: 100%;
    margin: 0 auto;
    
}

.nav-link{
    color: #000000;
}

.bg-white{
    background-color: #000;
    background-image: url(../images/navBG.jpg);
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#c5bcbc;
}

.nav-link{
    color: #ffffff;

}

.nav-item{
    list-style-type: none;
}
/*Login register cards*/

.card{
    background-color: #ece8e8;
    color: #022009;

}

.btn-primary{
    background-color: #09a72b;

}

/*Forms*/

form{
    width:500px;
    margin:0 auto;
    padding: 20px;
    background-image: url(../images/sideTileBg.jpg);
    border-radius: 10px;
}
label{
    color: #000000;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.5em;
}

.gameForm label{
    color: #000000;

}

.form-check-label{
    font-weight: normal;
    font-variant: normal;
    font-size: 1em;
}

.loginRForm
{
    background-image: none;
}

.deleteF{
    background-image: none;
}


/*Game view info*/

.gInfo{
    text-align: center;
    
}

/*dropdown*/
.dropdown-menu{
    /*background-image: url("../images/background.jpg");*/
    background-color: #000;
    
}

.dropdown-item{
    color: #ffffff;
}


/*Home page features*/
.featuredGame{
    float: left;
    width: 70%;
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 5px;
}

/*.featuredGame:hover{
    border: solid rgb(88, 235, 88) 5px;
    background-color: rgb(88, 235, 88);
}*/

.featuredGame h3{
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    font-variant: small-caps;
    color: #ffffff;
}

.featuredGame img{
    width: 100%;
}

.yourGroups{
    float: right;
    width: 28%;
    text-align: center;
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgb(0, 0, 0);
    background-image: url(../images/sideTileBg.jpg);
    margin-top: 15px;
}
.yourGroups h3{
    color: #ffffff;
    background-color: #000;
    margin:0;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;

}

.ftdGrp{
    border-bottom:solid #ffffff 2px;
    padding-bottom: 5px;
    clear: both;

}

.last{
    border: none;
}

.ftdGrp img{
    width: 40%;
    float: left;
    margin: 5px;
}

.yourGroups h4{
    color: #000000;
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding-top: 10px;


}

.ftdGrp p{
    color: #000000;
    margin:0;

}

.homeMenu{
    width:500px;
    margin: 0 auto;
    
}
.homeMenulog{
    width:335px;
    margin: 0 auto;
}
.homeList li{
        display: inline;
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
}

a{
    color:#000000;
    
}

a:hover{
    text-decoration: none;
}

/*profile page*/
.profile{
    vertical-align: middle;
    width: 225px;
    border-radius: 10px;
    /*background-image: linear-gradient(to bottom right, rgb(65, 63, 63), rgb(9, 105, 6));*/
    background-color: #e3dede;
    padding: 15px;
    float: left;
    text-align: center;
    border: solid black;
    min-height: 280px;
}

.profile img{
    width: 150px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    border: solid black;
}

.profile h1{
    font-size: 30px;
    color: black;
}

.profile h2{
    font-size: 20px;
    color: black;
}

.profile p, .profile a{
    color: rgb(7, 193, 255);
}

.bio{
    width: 400px;
    float: left;
    margin-left: 15px;
    /*background-image: linear-gradient(to bottom right, rgb(128, 121, 121), rgb(9, 105, 6));*/
    background-color: #ebe5e5;
    padding: 5px;
    border-radius: 10px;
    border: solid black;
    min-height: 280px;
    vertical-align: center;
}

.bio p{
    clear: left;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
}

.bio h2{
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: left;
}

.yourGroupsProfileWrapper{
    width: 100%;
    text-align: center;
}

.yourGroupsProfile{
    width: 80%;
    text-align: center;
    border: solid rgb(0, 0, 0) 2px;
    background-color: rgb(0, 0, 0);
    background-image: url(../images/sideTileBg.jpg);
    margin-top: 15px;
    display: inline-block;
    border-radius: 10px;
}

.yourGroupsProfile h3{
    color: #ffffff;
    background-color: #000;
    margin:0;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.ftdGrpProfile{
    border-right:solid #ffffff 2px;
    padding-bottom: 5px;
    float:left;
    width: 20%;
    min-height: 130px;
}

.lastProfile{
    border: none;
}

.ftdGrpProfile img{
    width: 40%;
    float: left;
    margin: 5px;
}

.yourGroupsProfile h4{
    color: #000000;
    font-weight: bold;
    margin: 0;
    font-size: 100%;
    padding-top: 10px;


}

.ftdGrpProfile p{
    color: #000000;
    margin:0;
}

.profileWrapper a{
    margin-top: 5px;
}

.update{
    clear: left;
}

/*/////////Group and Game Images//////////*/

.imgFeature{
    margin: 0 auto;
    width: 60%;
}
.imgFeature img{
    margin: 0 auto;
    width: 100%;
}

.grpimgFeature{
    margin: 0 auto;
    width: 20%;
}
.grpimgFeature img{
    margin: 0 auto;
    width: 100%;
}

/*index of games and groups*/
.card{
    border: #000000 solid 2px;
    margin: 5px;
    padding:0;
    display: flow-root;
    
}

.grpcard{
    width: 45%;
    float: left;
}

.card-body {
    padding:0;
    padding-top:10px;
    padding-right:6px;
}

.card-img-top{
    width: 100%;
    float: left;
    margin-bottom: 5px;

}

.imgCen{
    border-right: #000000 solid 2px;
    
    width:25%;
    padding:5px;
    float: left;
    margin-right:10px;
    background-color: #000000;
}

.tableRow{
    margin:0 auto;
    padding:5px;
    display: inline-table;
    width: 100%;
}

.tableListItem{
    list-style-type: none;
    font-size: 16px;
}


/*misc*/
h3, h4, h5, h6, p{
    color:#000000;
}
.list-group-item{
    background-color: rgb(255, 255, 255); 
}

.file{
    padding-bottom: 45px;
}

.btn{
    width: 100px;
}

.updateProfileBtn{
    width: 150px;
}

/*Group page styles*/
.groupDescription{
    /*background-image: linear-gradient(to bottom right, rgb(128, 121, 121), rgb(9, 105, 6));*/
    background-color: #e3dede;
    padding: 20px;
    border-radius: 10px;
    border: solid black;
    color: #ffffff;
}

.groupButtons{
    background-image: linear-gradient(to bottom right, rgb(65, 63, 63), rgb(9, 105, 6));
    padding: 5px;
    border-radius: 10px;
    border: solid black;
}
.groupDescription p{
    color: black;
    font-size:  20px;
}
.groupDescription h3{
    color: black;
    font-weight: bold;
}
.buttonPos{
    top: 50%; 
    left: 50%; 
}
.fudgePadding{
    margin-right: 196px;
}
.groupbtns{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s;
    overflow: visible;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 20px;
    width: 400px;
    margin-right: 40px;
}
.btn-text{
    font-size: 40px;
}
h2.groupText{
    color: black;
    float: left;
    font-size: 30px;
}
.groupDescription li a{
    color: blue;
}
.joinLeave{
    width: 400px;
}